<hr>
<h3>Register Page:</h3>

<form action= "/register_id" method = "post">
    <p>
        <label>Username </label><input value="" name="Username" />
        <br>
        <br>
        <label>Password </label><input value="" name="Password" />
        <br>
        <br>
        <button type="submit">Submit!</button>



    </p>

</form>




